In [4]:
data_dict ={
  'user1':{  'name':'piyush'','balance':"10000",,'password':"2589"'pancard':"4589654"}
    'user2':{  'name':'ram','balance':"52282",'acc no':"5892452",'password':"6568",'pancard':"4754547875"}
    'user3':{  'name':'sahil'','balance':"20000",'acc no':"59884258",'password':"5487",'pancard':"5487544"}
    
    
}

SyntaxError: invalid syntax (<ipython-input-4-5c6fb3afb5cc>, line 2)

In [8]:
data_list=[
    ["ram",1547,50000,123,"none"]
    ["john",48558,50000,456,2486525]
    ["natasha",25254,60000,789,348921]
]

TypeError: list indices must be integers or slices, not tuple

In [9]:
user={'name':'piyush','age':20}

In [11]:
user.setdefault('color','black')

'black'

In [12]:
user

{'age': 20, 'color': 'black', 'name': 'piyush'}

In [13]:
user.get('age')

20

In [16]:
user.update(age=28)

In [17]:
user

{'age': 28, 'color': 'black', 'name': 'piyush'}

In [18]:
data=[
    ('game','cricket'),
    ('country','india'),
    ('name','someone')
]

In [1]:
d={
    "name" : ["piyush"],
    "acc no" : 258369,
"password" : 123456,
"pan no" : 456789}

In [5]:
d

{'acc no': 258369, 'name': 'piyush', 'pan no': 456789, 'password': 123456}

In [7]:
d["acc no"
 ]

258369

In [3]:
d["name"].append("agarwal")

In [5]:
d['name'].append("django")

In [6]:
d

{'acc no': 258369,
 'name': ['piyush', 'agarwal', 'agarwal', 'django', 'django'],
 'pan no': 456789,
 'password': 123456}

In [7]:
item=d.get("name")

In [8]:
item

['piyush', 'agarwal', 'agarwal', 'django', 'django']

In [9]:
hash('name')

-7405594150173788104

In [10]:
hash('piyush')

2627196781728062884

In [14]:
d={(2,3),"name"}

In [15]:
d

{(2, 3), 'name'}

In [53]:
data_list={
    1001:{'name':"ram","balance":"20000","pan no":123456},
    1002:{'name':"piyush","balance":30000,"pan no":123458},
    1003:{'name':"shyam","balance":25000,"pan no":123457}
    
}

In [54]:
data_list

{1001: {'balance': '20000', 'name': 'ram', 'pan no': 123456},
 1002: {'balance': 30000, 'name': 'piyush', 'pan no': 123458},
 1003: {'balance': 25000, 'name': 'shyam', 'pan no': 123457}}

In [25]:
data_list[1001]['pan no']

123456

In [26]:
i=data_list.get(1001,"kk")

In [27]:
print(i)

{'name': 'ram', 'balance': 20000, 'pan no': 123456}

In [29]:
i=data_list.get("piyush","not in a list")

In [30]:
print(i)

not in a list

In [52]:
data_list.update(name="agarwal")

In [41]:
data_list

{1001: {'balance': 20000, 'name': 'ram', 'pan no': 123456},
 1002: {'balance': 30000, 'name': 'piyush', 'pan no': 123458},
 1003: {'balance': 25000, 'name': 'shyam', 'pan no': 123457},
 'name': 'agarwal'}

In [49]:
data_list.keys()

dict_keys([1001, 1002, 1003, 'name'])

In [50]:
data_list.items()

dict_items([(1001, {'name': 'ram', 'balance': 20000, 'pan no': 123456}), (1002, {'name': 'piyush', 'balance': 30000, 'pan no': 123458}), (1003, {'name': 'shyam', 'balance': 25000, 'pan no': 123457}), ('name', 'agarwal')])

In [56]:
s1={1,2,3,4,5,6,6}

In [58]:
s1

{1, 2, 3, 4, 5, 6}

In [59]:
s2={1,2,3}

In [60]:
s1.issubset(s2)

False

In [61]:
s1.isdisjoint(s2)

False

In [62]:
s1.intersection(s2)

{1, 2, 3}

In [63]:
s1.difference(s2)

{4, 5, 6}

In [64]:
s1.add("raja")

In [65]:
s1

{1, 2, 3, 4, 5, 6, 'raja'}

In [67]:
s1.pop()

1

In [68]:
s1

{2, 3, 4, 5, 6, 'raja'}

In [ ]:
a=input("enter a no")
print(a)
b=input("enter a no")
print(b)
c=a+b
print(c)

In [ ]:
a=input("enter a no")
print(a)
b=input("enter a no")
print(b)
c=a+b
print(c)

In [ ]:
a=input("enter a no")
print(a)
b=input("enter a no")
print(b)
c=a+b
print(c)

In [ ]:
a=input("enter a no")
print(a)
b=input("enter a no")
print(b)
c=a+b
print(c)

In [2]:
a=int(input("enter a no"))
print(a)
b=int(input("enter a no"))
print(b)
c=a+b

print(c)

enter a no5
5
enter a no5
5
10

In [1]:
s="hello"+"world"
print(s)

helloworld